Repository azizuysal/wallet-kit: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, prettier, test

lint:
  run: yarn eslint {staged_files}

typecheck:
  run: yarn typecheck

prettier:
  run: yarn prettier --check {staged_files}

test:
  run: yarn test --findRelatedTests {staged_files} --passWithNoTests

fix: resolve all GitHub Actions workflow failures
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/security.yml
  .osv-scanner.toml
  sonar-project.properties
Due: prettier

fix: resolve SonarCloud and Security workflow issues
  .github/workflows/security.yml
  README.md
  example/src/App.tsx
  src/index.tsx
Due: lint, typecheck, prettier, test

fix: use OSV Scanner reusable workflow
  .github/workflows/security.yml
Due: prettier

chore: ignore transitive dependency vulnerabilities in OSV scanner
  .osv-scanner.toml
Due: none

fix: use direct OSV Scanner action instead of reusable workflow
  .github/workflows/security.yml
Due: prettier

fix: run OSV Scanner directly instead of using action
  .github/workflows/security.yml
Due: prettier

docs: change downloads badge to show total downloads instead of monthly
  README.md
Due: prettier

fix: generate HTML docs instead of markdown for GitHub Pages
  typedoc.json
Due: prettier

feat: implement Android button styles with iOS parity
  android/src/main/java/com/azizuysal/walletkit/WalletButtonManager.kt
  android/src/main/java/com/azizuysal/walletkit/WalletKitModule.kt
  example/ios/Podfile.lock
  ios/WalletKit.mm
  src/WalletButton.tsx
  src/index.tsx
Due: lint, typecheck, prettier, test

feat: improve JWT generator and update documentation
  .vscode/settings.json
  GEMINI.md
  README.md
  android/src/main/java/com/azizuysal/walletkit/WalletButtonManager.kt
  android/src/main/res/values/ids.xml
  docs/GOOGLE_WALLET_JWT.md
  example/README.md
  example/android/app/src/main/assets/samples/README.md
  package.json
  scripts/README.md
  scripts/event-payload.json
  scripts/generate-jwt.js
  scripts/generic-payload.json
  scripts/loyalty-payload.json
  yarn.lock
Due: lint, prettier

chore: add *.jwt to .gitignore to prevent accidental commits
  .gitignore
Due: none

fix: improve Android wallet integration and documentation
  .gitignore
  .vscode/settings.json
  README.md
  android/src/main/java/com/azizuysal/walletkit/WalletButtonManager.kt
  android/src/main/java/com/azizuysal/walletkit/WalletKitModule.kt
  example/README.md
  example/android/app/src/main/AndroidManifest.xml
  example/src/App.tsx
  scripts/generate-jwt.js
Due: lint, typecheck, prettier, test

chore: remove unused jsonwebtoken dependency
  android/src/main/java/com/azizuysal/walletkit/WalletKitModule.kt
  example/src/App.tsx
  package.json
  yarn.lock
Due: lint, typecheck, prettier, test

docs: fix README inaccuracies
  README.md
Due: prettier

chore: update release-it configuration for 1.0.0 release
  package.json
Due: prettier

chore: prepare for 1.0.0 release with automated changelog
  CHANGELOG.md
  package.json
Due: prettier

chore: simplify release-it configuration for proper changelog generation
  package.json
Due: prettier

fix: upgrade react-native from 0.76.5 to 0.81.0
  example/package.json
Due: prettier

fix: example/Gemfile to reduce vulnerabilities
  example/Gemfile
Due: none

fix: upgrade react-native from 0.76.5 to 0.81.1
  example/package.json
Due: prettier

chore: update release-it and changelog plugin to v18/v10 for compatibility
  .claude-session-state.md
  package.json
  yarn.lock
Due: prettier

docs: add v1.0.0 release notes to CHANGELOG
  CHANGELOG.md
Due: prettier

chore: update release-it configuration
  .claude-session-state.md
  package.json
Due: prettier

chore: configure Snyk to ignore React Native updates
  .snyk
Due: none

chore: configure Snyk to also ignore Ruby dependency updates in example app
  .snyk
Due: none

docs: fix v1.0.0 release date in CHANGELOG
  CHANGELOG.md
Due: prettier

fix: upgrade react-native from 0.76.5 to 0.81.4
  example/package.json
Due: prettier

fix: example/package.json to reduce vulnerabilities
  example/package.json
Due: prettier

fix: upgrade react-native from 0.76.5 to 0.82.1
  example/package.json
Due: prettier

fix: update Ruby dependencies to address rexml security vulnerability
  .gitignore
  .mise.toml
  example/Gemfile
  example/Gemfile.lock
  example/ios/Podfile.lock
Due: none

chore: update Snyk config to exclude CLI scripts and tests
  .snyk
Due: none

chore: upgrade example app to React Native 0.77.3
  example/android/build.gradle
  example/android/gradle.properties
  example/ios/Podfile.lock
  example/package.json
  package.json
  yarn.lock
Due: prettier

fix: update license-checker to handle compound SPDX expressions
  .github/workflows/security.yml
Due: prettier

docs: update README badges
  README.md
Due: prettier

fix: upgrade react-native from 0.77.3 to 0.83.1
  example/package.json
Due: prettier

fix: phase 1 correctness, validation, and docs refresh
  CHANGELOG.md
  CLAUDE.md
  README.md
  android/src/main/java/com/azizuysal/walletkit/WalletKitModule.kt
  ios/WalletKit.h
  ios/WalletKit.mm
  package.json
  src/WalletButton.android.tsx
  src/WalletButton.ios.tsx
  src/WalletButton.tsx
  src/WalletButton.types.ts
  src/__tests__/WalletButton.test.tsx
  src/__tests__/__snapshots__/WalletButton.test.tsx.snap
  src/__tests__/index.test.tsx
  src/index.tsx
  yarn.lock
Due: lint, typecheck, prettier, test

chore: upgrade node to 24 via mise
  .mise.toml
  .node-version
  .nvmrc
Due: none

ci: upgrade github actions and fix sonarcloud config
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/manual-release.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/size.yml
  .github/workflows/sonarcloud.yml
  sonar-project.properties
Due: prettier

ci: revert sonarqube-scan-action pin from v4 to v7
  .github/workflows/sonarcloud.yml
Due: prettier

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  typecheck: any of: *.{ts,tsx}
  prettier: any of: *.{js,jsx,ts,tsx,json,md,yml,yaml}
  test: any of: *.{ts,tsx}
