Repository azizuysal/wallet-kit: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, prettier, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.{js,ts,jsx,tsx}'
      run: yarn eslint {staged_files}
    typecheck:
      glob: '*.{ts,tsx}'
      run: yarn typecheck
    prettier:
      glob: '*.{js,jsx,ts,tsx,json,md,yml,yaml}'
      run: yarn prettier --check {staged_files}
    test:
      glob: '*.{ts,tsx}'
      run: yarn test --findRelatedTests {staged_files} --passWithNoTests

pre-push:
  parallel: true
  commands:
    test-coverage:
      run: yarn test --coverage --silent
    build:
      run: yarn prepare

commit-msg:
  commands:
    commitlint:
      run: yarn commitlint --edit {1}

chore: clean up snyk policy and add release-it prettier hook
  .snyk
  package.json
Due: prettier

chore: restage prettier-formatted files in release-it after:bump hook
  package.json
Due: prettier

chore: move release-it prettier hook to before:git:release
  package.json
Due: prettier

chore: release 1.1.0
  CHANGELOG.md
  package.json
Due: prettier

chore(android): modernize library build config for phase 2
  android/build.gradle
  android/gradle.properties
  android/src/main/AndroidManifest.xml
  android/src/main/AndroidManifestNew.xml
Due: none

chore(ios): raise podspec floor to 15.1 and split UIViewController category
  ios/UIViewController+WalletKit.h
  ios/UIViewController+WalletKit.mm
  wallet-kit.podspec
Due: none

feat!: addPass/addPasses return Promise<boolean> with the add outcome
  android/src/main/java/com/azizuysal/walletkit/WalletKitModule.kt
  ios/WalletKit.mm
  src/__tests__/index.test.tsx
  src/index.tsx
Due: lint, typecheck, prettier, test

chore(js): tighten peer deps and remove vestigial config for 2.0
  jest.setup.js
  package.json
  turbo.json
  yarn.lock
Due: lint, prettier

chore: upgrade example and library devDeps to React Native 0.85.2
  GEMINI.md
  README.md
  RELEASING.md
  babel.config.js
  eslint.config.mjs
  example/android/gradle.properties
  example/package.json
  package.json
  scripts/generate-jwt.js
  src/WalletButton.types.ts
  src/__tests__/WalletButton.test.tsx
  yarn.lock
Due: lint, typecheck, prettier, test

docs: 2.0 migration guide, compatibility matrix, CHANGELOG cleanup
  CHANGELOG.md
  README.md
Due: prettier

feat(codegen): add TurboModule and Fabric specs, wire JS layer
  jest.setup.js
  package.json
  src/WalletButton.android.tsx
  src/WalletButton.ios.tsx
  src/index.tsx
  src/specs/NativeWalletKit.ts
  src/specs/WalletButtonNativeComponent.ts
Due: lint, typecheck, prettier, test

fix(ci): unblock release gates
  .github/workflows/compatibility.yml
  .github/workflows/security.yml
  eslint.config.mjs
  package.json
  scripts/prepare-compatibility-app.mjs
  scripts/scan-secrets.mjs
  scripts/validate-android-resources.mjs
  scripts/validate-compatibility.mjs
  scripts/validate-package.mjs
Due: prettier

fix(ci): isolate packed consumers
  .github/workflows/sonarcloud.yml
  scripts/prepare-compatibility-app.mjs
  sonar-project.properties
Due: prettier

fix(ios): support legacy codegen imports
  src/specs/WalletButtonNativeComponent.ts
Due: lint, typecheck, prettier, test

fix(native): repair compatibility matrix
  .github/workflows/compatibility.yml
  android/src/newarch/java/com/azizuysal/walletkit/WalletButtonManager.kt
  scripts/prepare-compatibility-app.mjs
Due: prettier

fix(ci): wait for Android smoke readiness
  .github/workflows/compatibility.yml
  scripts/android-smoke.mjs
Due: prettier

fix(ios): register Fabric component for RN 0.76
  ios/WalletButton.mm
Due: none

fix(ci): run the generated iOS test scheme
  .github/workflows/compatibility.yml
Due: prettier

fix(ci): target the shared iOS test scheme
  .github/workflows/compatibility.yml
Due: prettier

fix(ci): require iOS native tests to execute
  .github/workflows/compatibility.yml
  wallet-kit.podspec
Due: prettier

fix(ci): run the CocoaPods iOS test scheme
  .github/workflows/compatibility.yml
Due: prettier

chore(release): prepare 2.0.1
  CHANGELOG.md
  README.md
  package.json
  scripts/__tests__/extract-release-notes.test.js
Due: lint, prettier

fix(android): reject unavailable Play services promptly
  CHANGELOG.md
  android/src/main/java/com/azizuysal/walletkit/WalletKitCore.kt
  android/src/main/java/com/azizuysal/walletkit/WalletKitModuleHost.kt
  android/src/test/java/com/azizuysal/walletkit/WalletKitCoreTest.kt
Due: prettier

chore(release): remove evidence collection
  .github/workflows/compatibility.yml
  CONTRIBUTING.md
  README.md
  RELEASING.md
  scripts/android-smoke.mjs
Due: prettier
